<div class="container mt-5">
    <h1 class="text-dark">Ver cuotas pendientes</h1>

    <table class="table mt-3 table-group-divider" id="TablaPrestamistas">
        <thead>
            <tr>
                <th>Prestamo</th>
                <th>Cuota</th>
                <th>Monto</th>
                <th>Fecha de vencimiento</th>
                <th>Estado</th>
                <th>Deuda</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuo of cuotas | paginate:{itemsPerPage:8, currentPage: page }">
                <td>{{cuo.id_prestamo}}</td>
                <td>{{cuo.numero}}</td>
                <td>{{cuo.monto | number:'1.2-2'}}</td>
                <td>{{cuo.fec_pago}}</td>
                <td class="{{obtenerEstadoSolicitud(cuo.estado)}}">{{
                    obtenerEstadoSolicitud(cuo.estado) }}</td>
                <td>{{cuo.monto-cuo.monto_pagado | number:'1.2-2'}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="cuotas.length === 0" class="alert alert-info mt-3">
        No tienes cuotas pendientes actualmente
    </div>
    <br>
    <br>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" style="text-align: end;"></pagination-controls>
</div>