.input-with-icon {
    display: flex;
    align-items: center;
  }
  
  .input-with-icon input {
    flex: 1;
  }
  
  .input-with-icon img {
    width: 30px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Espacio entre cada grupo de label e input */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-top: 10px;
    width: 190px;
  }
  
  /* Ajusta el ancho de los inputs según tus necesidades */
  
  .input-with-icon {
    display: flex;
    align-items: center;
  }
  
  .input-with-icon img {
    width: 30px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
    margin-top: 10px;
    border: 1px solid #86b7fe;
    border-radius: 5px;
  }

  .input-with-icon img {
    width: 62px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 36px; /* Esto mantiene la proporción de la imagen */
    margin-left: 10px;
  }